<div class="container">
    <h3>Willkommen bei Lieferbingo!</h3>
  <img
    src="https://cdn.pixabay.com/photo/2015/09/21/14/24/supermarket-949913_1280.jpg"
    class="img-fluid img-thumbnail size"
    alt="..."/>
  <p>
    Entdecken Sie hochwertige Lebensmittel direkt zu Ihnen nach Hause geliefert.
    Von frischem Obst und Gemüse bis hin zu delikaten Käsesorten und exquisiten
    Delikatessen bieten wir eine sorgfältig kuratierte Auswahl an Produkten.
    Einfach online bestellen und genießen! Unsere Partnerschaften mit lokalen
    Bauern und Lieferanten garantieren Qualität und Frische. Tauchen Sie ein in
    unsere Welt voller Aromen und lassen Sie sich von unserer Leidenschaft für
    gutes Essen begeistern.
  </p>
</div>
